*{
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: rgb(5,121,121);
    color: #fff;
    padding-inline: 45px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-brand{
    font-size: 1.8rem;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.navbar-right{
    display: flex;
    align-items: center;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-link:hover{
    text-decoration: underline;
}